.section-about {
  padding: 30px 20px;
}
.SectionAbout h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.section-about p {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 20px;
}

.section-about a {
  color: var(--text-color);
}
