.navigation ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.navigation a {
  color: orange;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  transition: all 0.5s ease-in;
}

.navigation a:hover {
  color: rgba(255, 166, 0, 0.8);
  text-decoration: underline;
}
