#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  text-align: center;
  margin: 25px 0;
  color: orange;
  font-size: 35px;
}

.light {
  --bg-color: rgb(245, 234, 214);
  --text-color: #000000;
  --bg-header: #fff;
  --bg-add: rgba(255, 255, 255, 0.8);
  --color-border-checkbox: #000000;
  --bg-checkbox-checked: #000000;
  --bg-icon-checked: #fff;
}

.dark {
  --bg-color: #121212;
  --text-color: #fff;
  --bg-header: #000000;
  --bg-add: rgb(30, 29, 29);
  --color-border-checkbox: #fff;
  --bg-checkbox-checked: #fff;
  --bg-icon-checked: #000000;
}
body {
  font-family: Arial, sans-serif;
}
.wrapper {
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  padding-bottom: 50px;
}

.button {
  background: orange;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}

.button:hover {
  background: rgba(255, 166, 0, 0.7);
}

.btn-arrow {
  background: grey;
  padding: 10px 20px;
  border-radius: 8px;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}
